<table class="clear table table-striped table-responsive" ng-if="list.items.length !== 0">
        <tr>
                <th>Short Name</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
        </tr>
        <tr  ng-repeat="item in list.items">                                        
                <td>{{item.short_name}}</td>  
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td><button ng-click="list.removeItem({index:$index})">Don't Want This One</button></td>
        </tr>                                
</table>
<div class="clear text-danger" ng-if="list.items.length === 0">{{list.message}}</div>

